# -- CPU FREQ --
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

# -- wdt deactivated on dev proccess -- 
#CONFIG_ESP_TASK_WDT_TIMEOUT_S=10
#CONFIG_ESP_INT_WDT_TIMEOUT_MS=10000
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0=n
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1=n

# partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partition_table/partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partition_table/partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
CONFIG_NEWLIB_NANO_FORMAT=y

# -- DEFAULT LOGGING LEVEL --
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
# CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# -- LittleVGL --
CONFIG_LV_CONF_MINIMAL=y
# CONFIG_LV_USE_PERF_MONITOR=n
CONFIG_LV_USE_USER_DATA=y
CONFIG_LV_COLOR_16_SWAP=y
# ** LittleVGL FONTS **
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_26=y
CONFIG_LV_FONT_MONTSERRAT_28=y

# --DO-NOT-- USE MBEDTLS HARDWARE SHA ACCELERATION
CONFIG_MBEDTLS_HARDWARE_SHA=n

# --TEST-SUITE-- Unity options
CONFIG_UNITY_ENABLE_FLOAT=y
CONFIG_UNITY_ENABLE_DOUBLE=y
# **Enable color ** on unity output
CONFIG_UNITY_ENABLE_COLOR=y
CONFIG_UNITY_ENABLE_IDF_TEST_RUNNER=y
CONFIG_UNITY_ENABLE_FIXTURE=y
