CONFIG_BOARD_ESP32C3_DEVKIT=y

# -- CPU  --
CONFIG_IDF_TARGET="esp32c3"

# -- wdt deactivated on dev proccess -- 
#CONFIG_ESP_TASK_WDT_TIMEOUT_S=10
#CONFIG_ESP_INT_WDT_TIMEOUT_MS=10000
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0=n

# flasher
CONFIG_ESPTOOLPY_FLASH_MODE_AUTO_DETECT=n

# -- CRYPTO --
# ** DO NOT ** use MBEDTLS Hardware Acceleration
CONFIG_MBEDTLS_HARDWARE_SHA=n

# -- TEST SUITE --
CONFIG_UNITY_ENABLE_FLOAT=y
CONFIG_UNITY_ENABLE_DOUBLE=y
# 
# ** Enable color ** on unity output
CONFIG_UNITY_ENABLE_COLOR=y
CONFIG_UNITY_ENABLE_IDF_TEST_RUNNER=y
CONFIG_UNITY_ENABLE_FIXTURE=y