# build files
build
partition_table/*.bin

# vscode files
.vscode

# sdkconfig files
sdkconfig
sdkconfig.defaults
sdkconfig.old

# debug sessions
debug*.log
trace

# dep. files
dependencies.lock
managed_components

