[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git

[submodule "components/qrcode"]
	path = components/qrcode
	url = https://github.com/luisan00/lv_lib_qrcode.git
