# -- CPU  --
CONFIG_IDF_TARGET="esp32c3"

# flasher
CONFIG_ESPTOOLPY_FLASH_MODE_AUTO_DETECT=n

# -- CRYPTO --
# ** DO NOT ** use MBEDTLS Hardware Acceleration
CONFIG_MBEDTLS_HARDWARE_SHA=n

# -- TEST SUITE --
CONFIG_UNITY_ENABLE_FLOAT=y
CONFIG_UNITY_ENABLE_DOUBLE=y
# 
# ** Enable color ** on unity output
CONFIG_UNITY_ENABLE_COLOR=y
CONFIG_UNITY_ENABLE_IDF_TEST_RUNNER=y
CONFIG_UNITY_ENABLE_FIXTURE=y