# -- CPU FREQ --
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

# -- DEFAULT LOGGING LEVEL --
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
# CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# -- LVGL START --
CONFIG_LV_CONF_MINIMAL=y
CONFIG_LV_CONF_SKIP=n
CONFIG_LV_USE_PERF_MONITOR=n
CONFIG_LV_USE_USER_DATA=y
CONFIG_LV_COLOR_16_SWAP=y
# -- FONTS --
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_26=y
CONFIG_LV_FONT_MONTSERRAT_28=y
CONFIG_LV_FONT_DEFAULT_MONTSERRAT_26=y
# -- TEXT SETTINGS --
CONFIG_LV_TXT_ENC_UTF8=y
# -- WIDGETS --
CONFIG_LV_USE_ARC=y
CONFIG_LV_USE_BAR=y
CONFIG_LV_USE_BTN=y
CONFIG_LV_USE_BTNMATRIX=y
CONFIG_LV_USE_CANVAS=y
CONFIG_LV_USE_CHECKBOX=y
CONFIG_LV_USE_DROPDOWN=y
CONFIG_LV_USE_IMG=y
CONFIG_LV_USE_LABEL=y
CONFIG_LV_LABEL_TEXT_SELECTION=y
CONFIG_LV_LABEL_LONG_TXT_HINT=y
CONFIG_LV_USE_LINE=y
CONFIG_LV_USE_SLIDER=y
CONFIG_LV_USE_SWITCH=y
CONFIG_LV_USE_TEXTAREA=y
CONFIG_LV_TEXTAREA_DEF_PWD_SHOW_TIME=1500
# -- Ext. WIDGETS & 3rd PARTY
CONFIG_LV_USE_METER=y
CONFIG_LV_USE_MSGBOX=y
CONFIG_LV_USE_SPINNER=y
CONFIG_LV_USE_TILEVIEW=y
CONFIG_LV_USE_QRCODE=y
# -- THEMES --
# CONFIG_LV_USE_THEME_DEFAULT=y
# CONFIG_LV_THEME_DEFAULT_DARK=y
# CONFIG_LV_THEME_DEFAULT_GROW=y
# CONFIG_LV_THEME_DEFAULT_TRANSITION_TIME=80
# -- LAYOUT --
CONFIG_LV_USE_FLEX=y
# CONFIG_LV_USE_GRID is not set
# -- LVGL END --


# --DO-NOT-- USE MBEDTLS HARDWARE SHA ACCELERATION
CONFIG_MBEDTLS_HARDWARE_SHA=n

# --TEST-SUITE-- Unity options
CONFIG_UNITY_ENABLE_FLOAT=y
CONFIG_UNITY_ENABLE_DOUBLE=y
# **Enable color ** on unity output
CONFIG_UNITY_ENABLE_COLOR=y
CONFIG_UNITY_ENABLE_IDF_TEST_RUNNER=y
CONFIG_UNITY_ENABLE_FIXTURE=y
