# CPU FREQ
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

#CONFIG_ESP_TASK_WDT_TIMEOUT_S=10
# CONFIG_ESP_INT_WDT_TIMEOUT_MS=10000
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0=n
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1=n

# DEFAULT LOGGING LEVEL
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
# CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# lvgl 
CONFIG_LV_CONF_MINIMAL=y
# CONFIG_LV_USE_PERF_MONITOR=n
CONFIG_LV_USE_USER_DATA=y
CONFIG_LV_COLOR_16_SWAP=y
# fonts
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_26=y
CONFIG_LV_FONT_MONTSERRAT_28=y

# USE MBEDTLS HARDWARE SHA ACCELERATION
# n = not, y = yes
CONFIG_MBEDTLS_HARDWARE_SHA=n